{% extends 'shopsme/main.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container" style="border: solid blue;" style="border-left:100px ;" >
    <div style="margin-top:100px; margin-bottom: 100px; margin-left:auto; margin-right: auto" id="center">
        <div class=""><b>Password Reset</b></div>
        <br>
        <form class="bootstrap4" method="POST" action = "{% url 'password_reset_done' %}">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <input type="submit" value="Reset" class="bg bg-primary"/>
        {{ error }}
        {{ password_reset_form.errors }}
        {{ password_reset_form.non_field_errors }}
        </form>
    </div>
</div>

{% endblock %}