{% extends 'shopsme/main.html' %}
{% block content %}
{% load static %}
<div class="main">
    <div class="bg-light text-center">
        <ul class="nav">
            <div class="container" style="height:100px; padding-top: 30px;">
                <strong style="font-size: 30px;">THIS IS MAX SHOP</strong>
            </div>
        </ul>
    </div>
    <div class="container">
        <div class="video">
            <video width="100%" height="100%" controls>
            <source src="{% static 'shopme/videos/THE SMASHER_Medium.mp4' %}" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item" data-target="#one">
            <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="jumbotron" id="one">
            This is sweet content 
          </div>
    </div>
</div>
{% endblock %}
