{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel = "shortcut icon" href="{% static 'maxshoplogo8.png' %}" >
    <title>MaxShop</title>
    <style>
     
      
      .col-md-3
      {
      display: inline-block;
      margin-left:-4px;
      
      }

      .carousel-indicators .active {
      background-color: blue;
        }

      .col-md-3 img{

      width: 227px;
      max-height: 242px;
      }

      body .carousel-indicator li{
      background-color: blue;
      }

      body .carousel-indicators{
      bottom: 0;
      
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
      background-color: blue;
      }

      .carousel-control-prev,
      .carousel-control-next{
      top: auto;
      bottom: auto;
      }
       body .no-padding{
       padding-left: 0;
       padding-right: 0;
       }

       a.pr:hover{
         background-color: yellow;
       }

       .asteriskField{
         visibility: hidden;
       }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'shopme' %}"><img src = "{% static 'maxshoplogo8.png' %}" style="border-radius: 10%; width: 50px; height: 50px; max-width: 100%">MAXSHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'shopme' %}"><button type="button" class="btn btn-outline-light">Home <span class="sr-only">(current)</span></button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}"><button type="button" class="btn btn-outline-light">About Us</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}"><button type="button" class="btn btn-outline-light">Contact</button></a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-auto">

            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav mr-left">
            {% if "username" not in request.session %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" class=""><button type="button" class="btn btn-outline-primary">Login</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}" class=""><button type="button" class="btn btn-outline-primary">Sign Up</button></a>
            </li>
            {% endif %}
            {% if "username" in request.session %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary">LogOut</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myorder' %}"><button type="button" class="btn btn-outline-primary">My Orders <i class="fa fa-cart-arrow-down"></i></button></a>
            </li>
            <li class="nav-item dropdown">
              <button type="button" class="btn btn-outline-primary">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hi {{ username }}
                </a>
                <div class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown" style="left: 0;">
                  <a class="dropdown-item" href="{% url 'accounts' %}">Account</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="{% url 'help' %}">Help?</a>
                </div>
              </button>
            </li>
            {% endif %}
          </ul>
          
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-dark">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
          <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

