{% extends 'shopsme/main.html' %}
{% block content %}
<div class="">
    These are the questions and answers to some of your problems
</div>

<div class="">
    I have changed my subscription to prime, but i am unable to see any changes on my dashboard.
</div>

<div class="">
    I placed an order. Now it says that the order has been placed safely at your place, But i haven't recieved the order.
</div>

<div class="">
    I made a complaint against my refund, but i didn't get any refund yet
</div>

<div class="">
    
    I am unable to purchase a product from dialog national box/ what should i do.
</div>

{% endblock %}